{% extends "layout.html" %}

{% set active_page = "data" %}

{% block title %}Rank{% endblock %}

{% block content %}
    <!--page content-->
	
	
		<form action = "/response1">
		
			<h2>Want to know about any billionaire?</h2>
		  
			<label for="billionaire" class="form-label">Choose your billionaire from the list:</label>
			<input class="form-control" list="billionaires" name="billionaire" id="billionaire">
			<datalist id="billionaires">
				
				{% for s in names %} <!-- Loop through the list of states and add an option element for each state -->
					<option value="{{ s }}">{{ s }}</option>
				{% endfor %}
				
			</datalist>    
			<br>
			<button type="submit" class="btn btn-primary mt-3">Submit</button>
		</form>
		<br>
		<br>
		<h3>{{ response }}</h3>
		<h3>{{ response1 }}</h3>
		<h3>{{ response2 }}</h3>
{% endblock %}
	