{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
	
	<div id="content">
      <h1>About the Billionaires Data</h1>
	  <!-- <p>{{ a }}</p> -->
	  <!-- <p>{{ b }}</p> -->
      
    <p>The data used in this web app is from the CORGIS Dataset Project and can be found here: https://corgis-edu.github.io/corgis/json/billionaires/ . 
    The data contains statistics about Billionaires. It was made up based off of the Forbes Billionaires list from 1994 to 2014. It was made by scholars
    who have included many factors and include if they are selfmade or inherited fortunes</p>
    
	<p>One of the statistics for each of the billionaires is GDP. GDP stands for Gross Domestic Product and it represents the product of the country where the billionaire has citizenship. This is one of the primary indicators used to gauge the health of a country's economy. It represents the total dollar  
	 value of all goods and services produced over a specific time period; you can think of it as the size of the economy. Another piece of info they use is from emerging which says whether the money is coming from an emerging market or not.</p>
    
	<p>Something I found about the bilionaires is that there are some inconsistencies. There are often times where they cannot find the persons relationship to the company, what type of 
		billionaire they are, and whether they are male or female. For the billionaires, there is holes in information since some people keep info private and prefer not 
		to expose certain things.
		</p>

    </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}